body { margin:0; font-size:0.9em; line-height:20px; font-family: "Myriad Pro", "Trebuchet MS", Arial;  background-color:#EEEFF7;}
a { color:#871A2F;}
a:hover { text-decoration:none;}
#container { background:url(images/sidebar_bckg.gif) repeat-y top right #FFFFFF;}
#header { background:url(images/header_bckg.jpg) repeat-x #2D1721;}
#logo { padding:30px 0 0 40px; height:34px; }
#logo a{ color:#FFFFFF; text-decoration:none; font-weight:bold; height:36px; font-size:26px; text-transform:uppercase;}
#menu { background: url(images/menu_bckg.jpg) #84807A; height:30px; margin-top:47px;}
#menu ul { margin:0; padding:0;}
#menu ul li{ display:inline-block; float:left; width:104px; list-style:none; text-align:center;}
#menu a { display:block; float:left; width:104px; color:#000; font-size:14px; text-transform:uppercase; font-weight:bold; text-decoration:none; padding-top:8px; background:url(images/button.gif) no-repeat 0 4px;}
#menu a:hover{ background:url(images/button_over.gif) no-repeat 0 4px; padding-top:8px; height:22px;}
#text { margin: 0 320px 30px 20px;}
#text p { padding:0 20px 10px 0;}
#text li { list-style:none; padding-left:20px; background:url(images/li.gif) no-repeat 0px 7px;}
#sidebar { float:right; width:270px; padding: 0 20px 30px 10px; font-size:13px;}
h1 { margin:0; padding:0; text-transform:uppercase; font-size:2em; color:#84807a;}
#main { float:left; background:url(images/foot.gif) no-repeat bottom left; padding-top:20px;}
#footer { background:url(images/footer_bckg.jpg) repeat-x #84807a; height:102px; clear:both;}
#left_footer { float:left; padding:40px 0 0 30px; text-transform:uppercase; color:#FFFFFF; font-weight:bold; font-size:12px;}
#left_footer a { color:#FFFFFF;}
#left_footer a:hover { text-decoration:none;}
#right_footer { float:right; padding:40px 30px 0 0; text-transform:uppercase; color:#FFFFFF; font-weight:bold; font-size:12px; text-align:right;}
#right_footer a { color:#FFFFFF;}
#right_footer a:hover { text-decoration:none;}