<ion-view view-title="Location">
  <ion-content>
      <div style="margin-left: 10px; margin-top: 5px;">
     
          <div>
        <input type="button" value="getLocation" ng-click = "getLocation()"/>
      </div>
      
         
          
        <div>
          <p><span style="font-family: cursive;"><b>Current location</b></span></p>
          </div>
          <div>
              <table border="1"> <tr><td>lat</td><td>{{lat}}</td></tr> 
          <tr><td>long:</td><td>
{{lon}}</td></tr> </table>
         
        </div>      
	</div>
     
      
  </ion-content>
</ion-view>
